body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

html {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.swiper {
    position: absolute;
    left: 60%;
    top: 300px;
    height: 400px;
}

.swiper-slide{
    background-color: rgb(237, 213, 213);
}